.kubevirt-ocs-health__body {
  max-height: 130px;
  display: flex;
}

.kubevirt-ocs-health__icon--error {
  font-size: 1.333em;
  color: red;
  line-height: 1.333em;
}

.kubevirt-ocs-health__icon--ok {
  font-size: 1.333em;
  color: yellowgreen;
  line-height: 1.333em;
}

.kubevirt-ocs-health__icon--warning {
  font-size: 1.333em;
  color: goldenrod;
  line-height: 1.333em;
}

.kubevirt-ocs-health__row-status-item-text {
  margin-left: 1em;
  margin-top: 0.3em;
  font-size: 1.333em;
}
